* {
    margin: 0;
    padding: 0; /* Corrected from position: 0 */
    font-family: 'Raleway', sans-serif;
    background-color: black;
}

.header {
    width: 100%;
    background-position: center;
    position: relative;
}

nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img {
    width: 150px;
}

.nav-links {
    flex: 1;
    text-align: right;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}

.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #b10b0b;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after {
    width: 100%;
}

.campus {
    width: 100%;
    margin: auto;
    text-align: center;
    padding-bottom: 50px;
}

.campus-col {
    flex-basis: 20%;
    border-radius: 20px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
    color: #fff;
}

.campus-col img {
    width: 100%;
    display: block;
    border-radius: 20px;
}

h1 {
    color: #fff;
    font-size: 100px;
    align-self: center;
}

.layer {
    border-radius: 0;
}

.flex {
    height: 55vh;
    gap: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center top;
    position: absolute;
}

.grid-item:hover {
    box-shadow: 5px 5px 20px white;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(4, 300px);
    grid-template-rows: repeat(2, 350px);
    gap: 20px;
    justify-content: center;
}

.grid-item {
    position: relative;
    overflow: hidden;
    border-radius: 20px;
}

.grid-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    transition: transform 0.3s;
}

.grid-item:hover img {
    transform: scale(1.1);
}

.project-description {
    font-family: 'Raleway', sans-serif;
    position: absolute;
    font-size: 25px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    text-align: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Vertically center content */
}

.grid-item:hover .project-description {
    opacity: 1;
    pointer-events: auto;
}